body{
    padding: 0px;
    width: 100%;
}
header{
    background-color: rgb(33, 7, 182);
    height: 80px;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  h1{
    color: white;
    margin: 0px 10px;
  
  }
  font{
    color: greenyellow;
  }
  .link{
    margin: -25px;
    margin-left: 600px;
    word-spacing: 70px;
    
  }
  .link a{
    color: white;
    font-family: sans-serif;
    font-size: 18px;
    text-decoration: none;
  }
  .link a:hover{
    background-color: rgb(25, 31, 36);
    padding: 20px
  }
  .text{
    background-color: rgba(183, 209, 233, 0.829);
  }
  .description{
    margin-left: 50px;
    font-family: sans-serif;
    font-size: 23px;
    word-spacing: 5px;
    margin-top: 10px;
    font-weight: bold;
  }
  .form{
    height: 250px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 20);
    width: 250px;
    margin-left: 960px;
    margin-top: -180px;
    background-color: black;
    border-radius: 2px 30px 2px 30px;
  }
  .form input{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    height: 30px;
    border-top: none;
    border-right: none;
    border-left: none;
    background: none;
    border-color: white;
  }
  .login{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 35px;
    width: 150px;
    background-color: orangered;
    border-radius: 15px;
    border: none;
  }
  .sign{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 35px;
    width: 150px;
    background-color: orangered;
    border-radius: 15px;
    border: none;
  }
  .login a{
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
  }
  .forgotten{
    font-size: 12px;
    margin-left: 70px;
  }
  .forgotten:hover{
    color: yellowgreen;
  }
 .login:hover{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 35px;
    width: 150px;
    background-color: rgba(255, 255, 255, 0.644);
    border-radius: 15px;
    border: none;
    transition: 0.5s;
}
footer{
    height: 300%;
    background-color: rgb(65, 59, 59);
    width: 100%;
}
fieldset{
    width: fit-content;
    margin-left: 20px;
}
legend{
    color:yellowgreen;
    font-style: italic;

}
.head{
    color: white;
    font-weight: bold;
    font-size: 20px;
}
.c1{
  color: antiquewhite;
}
.c1 a:hover{
    color: white;
}
section{
    margin-top: -210px;
    margin-left: 35%;
}
.office{
    margin-top: -225px;
    margin-left: 65%;
}